.button_container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    
}

.primary {
    width: 275.85px;
    height: 44px;
    
    background-color: var(--purple-300);
    color: var(--white-800);
    
    font-weight: 700;
    font-size: 14px;
    
    text-transform: uppercase;
}

.secondary {

    width: 206px;
    height: 100%;
    padding: 7px 49px;

    background-color: var(--yellow);
    color: var(--purple-800);

    font-weight: 600;
    font-size: 16px;
}