.container {
    
    background-color: var(--white-700);

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

}

.container_content {
    width: 1440px;
    height: 282px;
    
    gap: 90px;
    padding-top: 42px;
    padding-right: 80px;
    padding-bottom: 42px;
    padding-left: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.content_logo_and_info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    // border-right: 1px solid #ccc;
}

.border {
    height: 100%;
    background-color: rgba(40, 40, 40, 0.18);
    width: 1px;
 

}

.logo_and_info {

    display: flex;
    flex-direction: column;

    height: 108px;
    gap: 18px;

    img {
        width: 164px;
        height: 48px;
    }

    p {

        height: 42px;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;

        color: var(--gray-700);
    }
}

.container_navigation {
    width: 58%;
}

.container_icons {
    display: flex;
    align-items: center;

    gap: 26px;
}


.navigation {
    display: flex;
    align-items: center;

    gap: 100px;

    ul {
        display: flex;
        flex-direction: column;

        gap: 20px;

        li {

            h4 {
                font-size: 16px;
                font-weight: 700;

                line-height: 16px;
                color: var(--gray-200);
            }
            
            a {

                font-family: "Work Sans", sans-serif;

                font-weight: 400;
                font-size: 14px;

                line-height: 16px;

                color: var(--gray-200);

                &:hover {
                    color: var(--purple-700);
                }
            }
        }
    }
}




